<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title">{{ site.title }}</h2>
        </a>
        <ul class="nav-social-icons">
          {% if site.social.email %}
            <li><a target="_blank" href="mailto:{{ site.social.email }}"><i class="fas fa-envelope"></i></a></li>
          {% endif %}
          {% if site.social.github %}
            <li><a target="_blank" href="{{ site.social.github }}"><i class="fab fa-github"></i></a></li>
          {% endif %}
          {% if site.social.twitter %}
            <li><a target="_blank" href="{{ site.social.twitter }}"><i class="fab fa-twitter"></i></a></li>
          {% endif %}
          {% if site.social.linkedin %}
            <li><a target="_blank" href="{{ site.social.linkedin }}"><i class="fab fa-linkedin-in"></i></a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <main>
      {{ content }}
    </main>

    <footer>
      <span>
        സർവ്വവകാശവും &copy; {{ site.time | date: '%Y' }}&nbsp; അനുരാജ്. ബ്ലോഗ് ഉള്ളടക്കം ക്രിയേറ്റീവ് കോമൺസ് <a href="https://creativecommons.org/licenses/by/2.5/" rel="noopener" target="_blank">CC BY
          2.5</a> പ്രകാരം ലൈസൻസുചെയ്തതാണ് | വേറിട്ട് പറയുകയോ അനുവദിക്കുകയോ ചെയ്തിട്ടില്ലെങ്കിൽ, കോഡ് സാമ്പിളുകൾ <a
          href="https://anuraj.mit-license.org/" rel="noopener"
          target="_blank">MIT ലൈസൻസിന്റെ</a> അടിസ്ഥാനത്തിൽ ലൈസൻസുചെയ്തതാണ്. ഇത് ഒരു വ്യക്തിഗത ബ്ലോഗാണ്. ഇവിടെ പ്രകടിപ്പിച്ചിരിക്കുന്ന അഭിപ്രായങ്ങൾ എന്റെ സ്വന്തമാണ്, എന്റെ എംപ്ലോയിയുടെത് അല്ല. ജേക്കിൽ ഉപയോഗിച്ച് പ്രവർത്തിക്കുന്നു. ഹോസ്റ്റ് ചെയ്യുന്നത് <a
          href="https://github.com/" rel="noopener"
          target="_blank">GitHub</a>
      </span>
    </footer>
  </body>
</html>